<ion-split-pane contentId="main-content">

    <ion-menu *ngIf="platform.is('mobile')" side="start" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Categories</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>World</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Politics</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Business</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Opinion</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Tech</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Food</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Health</ion-label></ion-item></ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><ion-item button><ion-label>Travel</ion-label></ion-item></ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-split-pane>