// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-menu {

	ion-item {
		background-color: var(--ion-color-light);
		font-weight: bold;
		margin: 20px;
		padding: 10px;
	}

}

.desktop {

	ion-card {
		box-shadow: none;
	}

	ion-toolbar {
		text-align: center;
	}

}